.counter2_window {
    display: grid;
    grid-template-rows: 3fr 2fr;
    width: 180px;
    height: 120px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 7px;
}

.counter_number_window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 30px;
}

.counter_number_error {
    font-size: 12px;
    color: darkred;
}

.counter_number_text {
    font-size: 12px;
}

.counter_number_max {
    color: darkred;
    font-size: 40px;
}

.counter_buttons_window {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 5px;
}

.counter_button {
    background-color: #61dafb;
    border-radius: 5px;
    border: none;
    color: #282c34;
    font-weight: bold;
    font-size: 20px;
}

.counter_button:disabled {
    opacity: 50%;
}

.clicked {
    background-color: #282c34;
    color: #61dafb;
}