.input {
    width: 50px;
    border: 1px solid #61dafb;
    border-radius: 3px;
    text-align: center;
    font-size: 7px;
    font-weight: bold;
    outline: none;
}

.inputError {
    background-color: lightcoral;
    border: 1px solid darkred;
}
