.button {
    background-color: #61dafb;
    border-radius: 5px;
    border: none;
    color: #282c34;
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px;
}

.button:disabled {
    opacity: 50%;
}

.button:enabled:active {
    background-color: #282c34;
    color: #61dafb;
}