.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    margin-left: 50px;
    height: fit-content;
}

.number {
    display: flex;
    justify-content: center;
    color: #212629;
    font-size: 120%;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
    width: 109px;
    background-color: #00BFFF;
}

.numberMax {
    color: darkred;
}

.buttons {
    display: flex;
    border: 1px solid #00BFFF;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 0 5px 0;
}