.settings2_window {
    display: grid;
    grid-template-rows: 3fr 2fr;
    width: 180px;
    height: 120px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 7px;
    margin-right: 50px;
}

.inputs_window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 7px;
}

.input_div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
}

.button_window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 5px;
}

.set_button {
    background-color: #61dafb;
    border-radius: 5px;
    border: none;
    color: #282c34;
    font-weight: bold;
    font-size: 20px;
}

.set_button:disabled {
   opacity: 50%;
}

.clicked {
    background-color: #282c34;
    color: #61dafb;
}