.settings {
    border: 1px solid deepskyblue;
    border-radius: 5px;
    margin-right: 70px;
    width: 160px;
    height: 107px;
}

.values {
    margin: 5px;
    padding: 5px;
    border: 1px solid deepskyblue;
    border-radius: 5px;
    font-size: small;
}

.setButton {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid deepskyblue;
    border-radius: 5px;
}

.maxValue {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.startValue {
    display: flex;
    justify-content: space-between;
}
