.settingsContainer {
    display: grid;
    grid-template-rows: 3fr 2fr;
    width: 200px;
    height: 140px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 7px;
    margin-right: 50px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 7px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
}

.buttonContainer {
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}